$cyan: #a3f5fc;
$cyan-dark: #13c2c2;

.container {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-grow: 1;
  background: $cyan;
  border-radius: 20px;
  margin: 5px;

  h1 {
    width: 100%;
    color: $cyan-dark;
  }
}